<h1>Weather Today</h1>

<table>
  <tr>
    <td>Weather</td>
    <td>{{weather}} ( {{description}} )</td>
  </tr>
  <tr>
    <td>Humidity</td>
    <td>{{humidity}}</td>
  </tr>
  <tr>
    <td>Average Temperature</td>
    <td>{{temp}}<sup>&#176;F</sup></td>
  </tr>
  <tr>
    <td>Minimum Temperature</td>
    <td>{{temp_min}}<sup>&#176;F</sup></td>
  </tr>
  <tr>
    <td>Maximum Temperature</td>
    <td>{{temp_max}}<sup>&#176;F</sup></td>
  </tr>
</table>